.carousel {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.image {
  display: none;
}

.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.circle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.circle {
  margin: 7px;
}

.left-arrow,
.right-arrow {
  margin: 150px;
}
