h1 {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(251, 107, 85);
  text-align: center;
}

form {
  margin: auto;
}

label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  margin-left: 12px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 550px;
  margin: auto;
}

input {
  display: block;
  border-radius: 6px;
  padding: 10px;
  width: 350px;
  height: 35px;
  border: 1px solid lightgrey;
  margin-bottom: 7px;
}

input::placeholder {
  color: rgb(146, 144, 144);
  font-family: AtlasGrotesk, sans-serif;
  font-size: 12px;
}

input[type='submit'] {
  border-radius: 40px;
  border: 0;
  background-color: rgb(251, 107, 85);
  color: white;
  text-transform: uppercase;
  width: 80px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 7px;
  margin-right: 10px;
  margin-left: auto;
}

select {
  display: block;
  color: black;
  font-family: BrandonGrotesk, sans-serif;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 150;
  width: 350px;
  height: 35px;
  border: 1px solid lightgrey;
  margin-bottom: 7px;
  background-color: rgb(238, 237, 237);
}
