h1 {
  font-size: xx-large;
  font-weight: 600;
}

.container {
  width: 800px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: flex;
  align-content: center;
}

.column-full {
  flex-basis: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-third {
  flex-basis: 2 * calc(100% / 3);
  padding: 5px;
  border-spacing: border-box;
}
